<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>master WatchKit App (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>master WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>master.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8C1D4B951E4253D700721908</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C1D4BA91E4253D800721908</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C1D4BB41E4253D800721908</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C1D4BBD1E4253D800721908</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
